.site-header {
    padding: 3rem 0;
}

.hamburger {
    display: flex;
    align-items: center;
    grid-column: 2 / span 1;

    @include desktop-small {
        grid-column: 2 / span 2;
    }

    .bun {
        width: 2.25rem;
        height: 1.5rem;
        display: flex;
        align-items: center;

        .patty {
            width: 2.25rem;
            height: 0.25rem;
            background: $slate-blue;
            margin-left: auto;
            transition: all 0.2s;

            &:after, &:before {
                content: '';
                display: block;
                width: 2.25rem;
                height: 0.25rem;
                background: $slate-blue;
                position: absolute;
                z-index: 1;
                transition: all 0.2s;
            }

            &:before {
                top: -10px;
            }

            &:after {
                top: 10px;
            }
        }
    }
}

.site-logo {
    grid-column: 3 / span 4;

    @include tablet {
        grid-column: 4 / span 4;
    }

    @include desktop-small {
        grid-column: 6 / span 4;
    }

    a {
        display: block;
        max-width: 12rem;
        margin: 0 auto;

        @include tablet {
            max-width: 100%;
        }
        
        img {
            width: 100%;

        }
    }
}

.utility-links {
    grid-column: 7 / span 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include tablet {
        grid-column: 8 / span 2;
    }

    @include desktop-small {
        grid-column: 12 / span 2;
    }

    .utility-link {
        display: block;
        max-width: 1rem;

        @include tablet {
            max-width: 1.125rem;
        }

        & + .utility-link {
            margin-left: 0.75rem;

            @include tablet {
                margin-left: 1.5rem;
            }

            @include desktop-small {
                margin-left: 2rem;
            }
        }

        &.account {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }
}


body.home {

    .site-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;

        .site-logo a img,
        .utility-links .utility-link img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(200%) contrast(200%);
        }
    
        .hamburger .bun .patty,
        .hamburger .bun .patty:before,
        .hamburger .bun .patty:after {
            background: $white;
        }
    
    }

    &.nav-overlay-open {    
        .hamburger {
            .bun {
                .patty {
                    background: none;
                }
            }
        }
    }
}




@import "nav";