.site-nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0, 1, 0.25, 1);
    height: 100vh;
    left: -80vw;
    width: 80vw;

    @include tablet {
        left: -50vw;
        width: 50vw;
    }

    @include desktop-small {
        left: -40vw;
        width: 40vw;
    }

    @include desktop-large {
        left: -25vw;
        width: 25vw;
    }

    &-wrapper {
        background: $sienna;
        color: $white;
        padding: 3rem;
        height: 100vh;
        @include scroll-y;
        
        @include desktop-small {
            padding: 4rem;
        }
    }

    a {
        color: $white;
    }


    .first-level {

        & + .first-level {
            padding-top: 2.5rem;

            @include desktop-small {
                padding-top: 3rem;
            }
        }

        &-link {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.25rem;
            letter-spacing: 0.05em;
            display: inline-block;

            @include desktop-large {
                font-size: 1.375rem;
            }

            &.toggle {
                position: relative;

                &:after {
                    display: block;
                    content: '';
                    background: url(images/icon-nav-arrow.svg) no-repeat 0 0;
                    background-size: 100%;
                    height: 16px;
                    width: 11px;
                    position: absolute;
                    right: -1.5rem;
                    top: 1px;
                    transition-property: all;
                    transition-duration: .25s;
                    transition-timing-function: cubic-bezier(0, 1, 0.25, 1);

                    @include desktop-large {
                        top: 0;
                        height: 22px;
                        width: 14px;
                    }
                }

                &.active {
                    span {
                        opacity: 0.6;
                    }
                    
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .second-level {
        max-height: 0;
        overflow: hidden;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.25, 1);

        &.active {
            max-height: 500px;
            padding-top: 1rem;
        }

        li {
            padding-left: 1rem;

            & + li {
                padding-top: 0.5rem;
            }
        }

        &-link {
            text-transform: lowercase;
            font-size: 1.25rem;
            letter-spacing: 0.05em;
            display: inline-block;
            padding: 0.125rem 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }


    .note {
        padding-top: 3rem;

        p {
            font-family: $baskerville;
            font-weight: 400;
            letter-spacing: 0.02em;
            font-size: 0.875rem;
            line-height: 1.6em;

            @include desktop-large {
                font-size: 1.25rem;
            }
        }

        .cta {
            padding-top: 1rem;

            @include desktop-large {
                padding-top: 2rem;
            }

            a {
                display: block;
                max-width: 300px;
            }
        }
    }
}

#page {
    transition: all 0.02s ease-in;
}

.nav-overlay-open {
    .site-nav {
        left: 0;
        box-shadow: 4px 0 16px rgba(0, 0, 0, 0.1);
    }

    #page {
        left: 80vw;

        @include tablet {
            left: 49vw;
        }

        @include desktop-small {
            left: 39vw;
        }

        @include desktop-large {
            left: 24vw;
        }
    }

	.hamburger {
		.bun {
			.patty {
				background: none;
				
				&:before {
					top: 0;
					transform: rotate(-45deg);
				}

				&:after {
				   top: 0;
				   transform: rotate(45deg);
				}
			}
		}
	}

}