.grid {
	display: grid;
	gap: 0 1srem;
	grid-template-columns: minmax(1.5rem, auto) repeat(6, minmax(auto,  1fr)) minmax(1.5rem, auto);
		
	@include tablet {
		gap: 0 2rem;
		grid-template-columns: minmax(2rem, auto) repeat(8, minmax(auto,  1fr)) minmax(2rem, auto);
    }
	
	@include desktop-small {
		grid-template-columns: minmax(2rem, auto) repeat(12, minmax(auto,  4.375rem)) minmax(2rem, auto);
    }
    
    & > * {
        grid-column: 2 / span 6;

        @include tablet {
            grid-column: 2 / span 8;
        }        

        @include desktop-small {
            grid-column: 2 / span 12;
        }
	}
}

.two-col-features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.two-col-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: $white;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    .photo {
        @include aspect-ratio(16, 9);
        @include cover-fill-image;

        @include tablet {
            @include aspect-ratio(4, 3);
        }
    }

    .info {
        display: flex;
        align-items: center;
        padding: 4rem 3rem;

        @include tablet {
            padding: 4rem;
        }

        .headline {
            padding-bottom: 1rem;

            @include tablet {
                padding-bottom: 2rem;
            }
        }
    }
}

.three-col-products {
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);

    @include tablet-small {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop-small {
        gap: 4rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        .photo {
            @include aspect-ratio(1, 1);
            @include cover-fill-image;
        }

        .details {
            padding-top: 1rem;
            text-align: center;
            color: $slate-blue;

            .price {
                padding-top: 0.5rem;

                span {
                    font-size: clamp(1rem, 2vw, 1.25rem)
                }
            }
            
            .name {
                h3 {
                    font-size: clamp(1.125rem, 2vw, 1.5rem);
                    font-weight: 500;
                }
            }
        } 

    }
}