/*

    Theme Name: Heavy Goods
    Theme URI: https://heavygoods.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Heavy Goods
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
@import url("https://use.typekit.net/czp4oqo.css");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: brandon-grotesque, sans-serif; }

a {
  color: #E1AF49; }

::-moz-selection {
  background: #F0744E;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #F0744E;
  color: #fff;
  text-shadow: none; }

.headline h2 {
  font-family: "Libre Baskerville", serif;
  font-size: clamp(2rem, 4vw, 3.375rem); }

.headline.section-header.align-center {
  text-align: center; }

.headline.section-header h3 {
  font-size: clamp(1.25rem, 2vw, 2.125rem);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #E1AF49;
  display: inline-block; }

.copy.p1 {
  font-family: "Libre Baskerville", serif;
  font-size: clamp(1.25rem, 3vw, 1.625rem);
  line-height: 1.8em; }

.copy.p2 {
  font-family: "Libre Baskerville", serif;
  font-size: clamp(1.125rem, 1vw, 1.375rem);
  line-height: 1.8em; }

body {
  background: #F7F4EE; }

.site-content {
  min-height: 60vh; }

.grid {
  display: grid;
  gap: 0 1srem;
  grid-template-columns: minmax(1.5rem, auto) repeat(6, minmax(auto, 1fr)) minmax(1.5rem, auto); }
  @media screen and (min-width: 768px) {
    .grid {
      gap: 0 2rem;
      grid-template-columns: minmax(2rem, auto) repeat(8, minmax(auto, 1fr)) minmax(2rem, auto); } }
  @media screen and (min-width: 992px) {
    .grid {
      grid-template-columns: minmax(2rem, auto) repeat(12, minmax(auto, 4.375rem)) minmax(2rem, auto); } }
  .grid > * {
    grid-column: 2 / span 6; }
    @media screen and (min-width: 768px) {
      .grid > * {
        grid-column: 2 / span 8; } }
    @media screen and (min-width: 992px) {
      .grid > * {
        grid-column: 2 / span 12; } }

.two-col-features {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem; }
  @media screen and (min-width: 768px) {
    .two-col-features {
      grid-template-columns: repeat(2, 1fr); } }

.two-col-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: #fff; }
  @media screen and (min-width: 768px) {
    .two-col-info {
      grid-template-columns: repeat(2, 1fr); } }
  .two-col-info .photo {
    position: relative; }
    .two-col-info .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    .two-col-info .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .two-col-info .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    @media screen and (min-width: 768px) {
      .two-col-info .photo {
        position: relative; }
        .two-col-info .photo:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 75%; }
        .two-col-info .photo > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; } }
  .two-col-info .info {
    display: flex;
    align-items: center;
    padding: 4rem 3rem; }
    @media screen and (min-width: 768px) {
      .two-col-info .info {
        padding: 4rem; } }
    .two-col-info .info .headline {
      padding-bottom: 1rem; }
      @media screen and (min-width: 768px) {
        .two-col-info .info .headline {
          padding-bottom: 2rem; } }

.three-col-products {
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: repeat(1, 1fr); }
  @media screen and (min-width: 480px) {
    .three-col-products {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 992px) {
    .three-col-products {
      gap: 4rem;
      grid-template-columns: repeat(3, 1fr); } }
  .three-col-products .product .photo {
    position: relative; }
    .three-col-products .product .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .three-col-products .product .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .three-col-products .product .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .three-col-products .product .details {
    padding-top: 1rem;
    text-align: center;
    color: #36454F; }
    .three-col-products .product .details .price {
      padding-top: 0.5rem; }
      .three-col-products .product .details .price span {
        font-size: clamp(1rem, 2vw, 1.25rem); }
    .three-col-products .product .details .name h3 {
      font-size: clamp(1.125rem, 2vw, 1.5rem);
      font-weight: 500; }

.feature a {
  display: block;
  position: relative; }

.feature .photo {
  position: relative; }
  .feature .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  .feature .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .feature .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.feature .headline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .feature .headline h2 {
    font-size: clamp(2rem, 3vw, 3rem);
    color: #fff;
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em; }

.cta .btn {
  display: inline-block;
  font-family: brandon-grotesque, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 3px solid;
  padding: 1.5rem 3rem 1.375rem 3rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  transition: all 0.2s ease-in; }

.cta.align-center {
  text-align: center; }

.cta.sienna .btn {
  color: #F0744E; }
  .cta.sienna .btn:hover {
    background: #F0744E;
    color: #fff;
    border: 3px solid #F0744E; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  padding: 3rem 0; }

.hamburger {
  display: flex;
  align-items: center;
  grid-column: 2 / span 1; }
  @media screen and (min-width: 992px) {
    .hamburger {
      grid-column: 2 / span 2; } }
  .hamburger .bun {
    width: 2.25rem;
    height: 1.5rem;
    display: flex;
    align-items: center; }
    .hamburger .bun .patty {
      width: 2.25rem;
      height: 0.25rem;
      background: #36454F;
      margin-left: auto;
      transition: all 0.2s; }
      .hamburger .bun .patty:after, .hamburger .bun .patty:before {
        content: '';
        display: block;
        width: 2.25rem;
        height: 0.25rem;
        background: #36454F;
        position: absolute;
        z-index: 1;
        transition: all 0.2s; }
      .hamburger .bun .patty:before {
        top: -10px; }
      .hamburger .bun .patty:after {
        top: 10px; }

.site-logo {
  grid-column: 3 / span 4; }
  @media screen and (min-width: 768px) {
    .site-logo {
      grid-column: 4 / span 4; } }
  @media screen and (min-width: 992px) {
    .site-logo {
      grid-column: 6 / span 4; } }
  .site-logo a {
    display: block;
    max-width: 12rem;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .site-logo a {
        max-width: 100%; } }
    .site-logo a img {
      width: 100%; }

.utility-links {
  grid-column: 7 / span 1;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media screen and (min-width: 768px) {
    .utility-links {
      grid-column: 8 / span 2; } }
  @media screen and (min-width: 992px) {
    .utility-links {
      grid-column: 12 / span 2; } }
  .utility-links .utility-link {
    display: block;
    max-width: 1rem; }
    @media screen and (min-width: 768px) {
      .utility-links .utility-link {
        max-width: 1.125rem; } }
    .utility-links .utility-link + .utility-link {
      margin-left: 0.75rem; }
      @media screen and (min-width: 768px) {
        .utility-links .utility-link + .utility-link {
          margin-left: 1.5rem; } }
      @media screen and (min-width: 992px) {
        .utility-links .utility-link + .utility-link {
          margin-left: 2rem; } }
    .utility-links .utility-link.account {
      display: none; }
      @media screen and (min-width: 768px) {
        .utility-links .utility-link.account {
          display: block; } }

body.home .site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%; }
  body.home .site-header .site-logo a img,
  body.home .site-header .utility-links .utility-link img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(200%) contrast(200%); }
  body.home .site-header .hamburger .bun .patty,
  body.home .site-header .hamburger .bun .patty:before,
  body.home .site-header .hamburger .bun .patty:after {
    background: #fff; }

body.home.nav-overlay-open .hamburger .bun .patty {
  background: none; }

.site-nav {
  position: fixed;
  top: 0;
  z-index: 10000;
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(0, 1, 0.25, 1);
  height: 100vh;
  left: -80vw;
  width: 80vw; }
  @media screen and (min-width: 768px) {
    .site-nav {
      left: -50vw;
      width: 50vw; } }
  @media screen and (min-width: 992px) {
    .site-nav {
      left: -40vw;
      width: 40vw; } }
  @media screen and (min-width: 1440px) {
    .site-nav {
      left: -25vw;
      width: 25vw; } }
  .site-nav-wrapper {
    background: #F0744E;
    color: #fff;
    padding: 3rem;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; }
    .site-nav-wrapper::-webkit-scrollbar {
      display: none; }
    @media screen and (min-width: 992px) {
      .site-nav-wrapper {
        padding: 4rem; } }
  .site-nav a {
    color: #fff; }
  .site-nav .first-level + .first-level {
    padding-top: 2.5rem; }
    @media screen and (min-width: 992px) {
      .site-nav .first-level + .first-level {
        padding-top: 3rem; } }
  .site-nav .first-level-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    display: inline-block; }
    @media screen and (min-width: 1440px) {
      .site-nav .first-level-link {
        font-size: 1.375rem; } }
    .site-nav .first-level-link.toggle {
      position: relative; }
      .site-nav .first-level-link.toggle:after {
        display: block;
        content: '';
        background: url(images/icon-nav-arrow.svg) no-repeat 0 0;
        background-size: 100%;
        height: 16px;
        width: 11px;
        position: absolute;
        right: -1.5rem;
        top: 1px;
        transition-property: all;
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(0, 1, 0.25, 1); }
        @media screen and (min-width: 1440px) {
          .site-nav .first-level-link.toggle:after {
            top: 0;
            height: 22px;
            width: 14px; } }
      .site-nav .first-level-link.toggle.active span {
        opacity: 0.6; }
      .site-nav .first-level-link.toggle.active:after {
        transform: rotate(180deg); }
  .site-nav .second-level {
    max-height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.25, 1); }
    .site-nav .second-level.active {
      max-height: 500px;
      padding-top: 1rem; }
    .site-nav .second-level li {
      padding-left: 1rem; }
      .site-nav .second-level li + li {
        padding-top: 0.5rem; }
    .site-nav .second-level-link {
      text-transform: lowercase;
      font-size: 1.25rem;
      letter-spacing: 0.05em;
      display: inline-block;
      padding: 0.125rem 0; }
      .site-nav .second-level-link:hover {
        text-decoration: underline; }
  .site-nav .note {
    padding-top: 3rem; }
    .site-nav .note p {
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      letter-spacing: 0.02em;
      font-size: 0.875rem;
      line-height: 1.6em; }
      @media screen and (min-width: 1440px) {
        .site-nav .note p {
          font-size: 1.25rem; } }
    .site-nav .note .cta {
      padding-top: 1rem; }
      @media screen and (min-width: 1440px) {
        .site-nav .note .cta {
          padding-top: 2rem; } }
      .site-nav .note .cta a {
        display: block;
        max-width: 300px; }

#page {
  transition: all 0.02s ease-in; }

.nav-overlay-open .site-nav {
  left: 0;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.1); }

.nav-overlay-open #page {
  left: 80vw; }
  @media screen and (min-width: 768px) {
    .nav-overlay-open #page {
      left: 49vw; } }
  @media screen and (min-width: 992px) {
    .nav-overlay-open #page {
      left: 39vw; } }
  @media screen and (min-width: 1440px) {
    .nav-overlay-open #page {
      left: 24vw; } }

.nav-overlay-open .hamburger .bun .patty {
  background: none; }
  .nav-overlay-open .hamburger .bun .patty:before {
    top: 0;
    transform: rotate(-45deg); }
  .nav-overlay-open .hamburger .bun .patty:after {
    top: 0;
    transform: rotate(45deg); }

.site-footer {
  background: #F0744E;
  color: #fff;
  padding: 6rem 0 12rem 0; }
  .site-footer a {
    color: #fff; }

/*

    ----------------------------------------------------------------------
                               03 Template Parts
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                               04 Blocks
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                05 Templates
    ----------------------------------------------------------------------

*/
body.home .hero .photo {
  grid-column: 1 / -1;
  position: relative; }
  body.home .hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  body.home .hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  body.home .hero .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (min-width: 768px) {
    body.home .hero .photo {
      position: relative; }
      body.home .hero .photo:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      body.home .hero .photo > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

body.home .hero .info {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  body.home .hero .info .headline {
    text-align: center; }
    body.home .hero .info .headline h1 {
      color: #fff;
      font-family: "Libre Baskerville", serif;
      font-size: clamp(2rem, 6vw, 4.25rem);
      line-height: 1.25em; }

body.home .intro {
  padding: 4rem 0; }
  @media screen and (min-width: 992px) {
    body.home .intro {
      padding: 6rem 0; }
      body.home .intro > * {
        grid-column: 3 / span 10; } }
  body.home .intro .headline {
    padding-bottom: 2rem; }
  body.home .intro .tagline {
    padding-top: 2rem; }
  body.home .intro .restaurants {
    padding-top: 4rem; }
    body.home .intro .restaurants .headline {
      text-align: center;
      padding-bottom: 0.5rem; }
      body.home .intro .restaurants .headline h4 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: clamp(0.875rem, 2vw, 1rem); }
    body.home .intro .restaurants .links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body.home .intro .restaurants .links a {
        display: block;
        text-transform: uppercase;
        font-size: clamp(0.875rem, 2vw, 1rem);
        padding: 0.5rem;
        font-weight: 500; }
        body.home .intro .restaurants .links a:hover {
          text-decoration: underline; }

body.home .features-1 {
  padding-bottom: 4rem; }

body.home .side-by-side {
  background: #F7C263;
  padding: 4rem 0; }

body.home .features-2 {
  padding: 4rem 0; }

body.home .popular {
  padding: 4rem 0;
  background: #FBFAF7; }
  body.home .popular .section-header {
    padding-bottom: 4rem; }

body.home .newsletter {
  padding: 4rem 0;
  background: #FBFAF7; }
  @media screen and (min-width: 992px) {
    body.home .newsletter {
      padding: 4rem 0 8rem 0; } }
  body.home .newsletter .headline {
    text-align: center;
    padding-bottom: 2rem; }
    @media screen and (min-width: 992px) {
      body.home .newsletter .headline {
        grid-column: 3 / span 10; } }
    body.home .newsletter .headline h2 {
      color: #F0744E;
      font-size: clamp(1.5rem, 3vw, 2rem);
      line-height: 1.5em; }
