.copy {

	&.p1 {
		font-family: $baskerville;
		font-size: clamp(1.25rem, 3vw, 1.625rem);
		line-height: 1.8em;
	}

	&.p2 {
		
		font-family: $baskerville;
		font-size: clamp(1.125rem, 1vw, 1.375rem);
		line-height: 1.8em;
	}

	&.p3 {
		
	}

}