.headline {

	h1 {

	}

	h2 {
		font-family: $baskerville;
		font-size: clamp(2rem, 4vw, 3.375rem);
	}

	h3 {

	}

	h4 {
		
	}

	&.section-header {
		&.align-center {
			text-align: center;
		}
		
		h3 {
			font-size: clamp(1.25rem , 2vw, 2.125rem);
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			padding-bottom: 0.25rem;
			border-bottom: 3px solid $golden;
			display: inline-block;
		}
	}
}