body,
button,
input,
select,
optgroup,
textarea {
	font-family: $brandon;

}

a {
	color: $golden;
}

::-moz-selection {
	background: $sienna;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $sienna;
	color: $white;
	text-shadow: none;
}

@import "headings";

@import "copy";