$white: #fff;
$baby-powder: #FBFAF7;
$isabelline: #F7F4EE;
$black: #000;

$golden: #E1AF49;
$yellow: #F7C263;
$sienna: #F0744E;
$light-blue: #AECFE4;
$dark-blue: #376284;
$slate-blue: #36454F;
$olive: #BFB995;
$beige: #C3A366;