@import url("https://use.typekit.net/czp4oqo.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$brandon: brandon-grotesque, sans-serif;
$baskerville: 'Libre Baskerville', serif;