body.home {
    .hero {
        .photo {
            grid-column: 1 / -1;
            @include aspect-ratio(4, 3);
            @include cover-fill-image;

            @include tablet {
                @include aspect-ratio(16, 9);
            }
        }

        .info {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .headline {
                text-align: center;

                h1 {
                    color: $white;
                    font-family: $baskerville;
                    font-size: clamp(2rem, 6vw, 4.25rem);
                    line-height: 1.25em;
                }
            }
        }
    }

    .intro {
        padding: 4rem 0;

        @include desktop-small {
            padding: 6rem 0;

            & > * {
                grid-column: 3 / span 10;
            }
        }

        .headline {
            padding-bottom: 2rem;
        }

        .tagline {
            padding-top: 2rem;
        }

        .restaurants {
            padding-top: 4rem;

            .headline {
                text-align: center;
                padding-bottom: 0.5rem;
                
                h4 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: clamp(0.875rem, 2vw, 1rem);
                }
            }

            .links {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                a {
                    display: block;
                    text-transform: uppercase;
                    font-size: clamp(0.875rem, 2vw, 1rem);
                    padding: 0.5rem;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .features-1 {
        padding-bottom: 4rem;
    }

    .side-by-side {
        background: $yellow;
        padding: 4rem 0;
    }

    .features-2 {
        padding: 4rem 0;
    }

    .popular {
        padding: 4rem 0;
        background: $baby-powder;

        .section-header {
            padding-bottom: 4rem;
        }
    }

    .newsletter {
        padding: 4rem 0;
        background: $baby-powder;
        
        @include desktop-small {
            padding: 4rem 0 8rem 0;
        }

        .headline {
            text-align: center;
            padding-bottom: 2rem;

            @include desktop-small {
                grid-column: 3 / span 10;
            }

            h2 {
                color: $sienna;
                font-size: clamp(1.5rem, 3vw, 2rem);
                line-height: 1.5em;
            }
        }
    }
}