.cta {
    .btn {
        display: inline-block;
        font-family: $brandon;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border: 3px solid;
        padding: 1.5rem 3rem 1.375rem 3rem;
        font-size: clamp(1rem, 3vw, 1.5rem);
        transition: all 0.2s ease-in;
    }

    &.align-center {
        text-align: center;
    }

    &.sienna {
        .btn {
            color: $sienna;

            &:hover {
                background: $sienna;
                color: $white;
                border: 3px solid $sienna;
            }
        }        
    }
}