.feature {
    a {
        display: block;
        position: relative;
    }

    .photo {
        @include aspect-ratio(4, 3);
        @include cover-fill-image;
    }

    .headline {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: clamp(2rem, 3vw, 3rem);
            color: $white;
            font-family: $brandon;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.1em;
        }
    }
}